<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
	<!-- 自動導入 driven -->
	<tx:annotation-driven />

	<!-- 實際開發時會進行配置,自動導入註解 正式開發會用 -->
	<mvc:annotation-driven></mvc:annotation-driven>
	<!-- 加入靜態 正式開發會用 -->
	<mvc:default-servlet-handler />

	<!-- controller 正式開發會用 -->
	<context:component-scan
		base-package="tw.com.ssh.springmvc.controller" />
	<context:component-scan
		base-package="tw.com.ssh.springmvc.dao" />

	<!-- 配置頁面解析器 正式開發會用 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- prefix 轉發的路徑 -->
		<property name="prefix" value="/WEB-INF/views/"></property>
		<!-- suffix 副檔名 -->
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<!-- CSS -->
	<mvc:annotation-driven/>
	<mvc:resources location="/WEB-INF/css/" mapping="/css/**"></mvc:resources>
	<mvc:resources location="/WEB-INF/js/" mapping="/js/**"></mvc:resources>
	<!-- 資料庫基本設定 -->
	<bean name="ds"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<!-- MySQL Driver設定 -->
		<property name="driverClassName"
			value="com.mysql.cj.jdbc.Driver" />
		<!-- MySQL 連接位置 -->
		<property name="url"
			value="jdbc:mysql://b0f48a6f236c2f:3a97bdec@us-cdbr-east-05.cleardb.net/heroku_dcf3f69d22c91a8?reconnect=true" />
		<!-- MySQL 帳號 -->
		<property name="username" value="b0f48a6f236c2f" />
		<!-- MySQL 密碼 -->
		<property name="password" value="3a97bdec" />
	</bean>

	<!-- factory 工廠類 -->
	<bean name="factory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<!-- 呼叫Mysql 基本設定 參考ds -->
		<!-- ref 用來參考目標地的結構 -->
		<property name="dataSource" ref="ds"></property>
		<!-- hibernate 設定 -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>

		<!-- 自動導入 -->
		<property name="annotatedClasses">
			<list>
				<value>tw.com.ssh.springmvc.entity.UserInfo</value>
				<value>tw.com.ssh.springmvc.entity.Product</value>
			</list>
		</property>
	</bean>

	<!-- Hibernate CRUD 樣板 參考factory -->
	<bean name="hibernateTemplate"
		class="org.springframework.orm.hibernate5.HibernateTemplate">
		<property name="sessionFactory" ref="factory"></property>
	</bean>
	<!-- 進行運行(交易) -->
	<bean name="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="factory"></property>
	</bean>
</beans>
